pip install pandas

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers,
Python objects, etc.). 

The axis labels are collectively referred to as the index.

In [ ]:
ser1 = pd.Series([10,20,30,40])

In [ ]:
ser1

In [ ]:
import numpy as np

In [ ]:
arr = np.array([10,20,30,40])

In [ ]:
print(arr)

In [ ]:
ser2 = pd.Series([100,200,300,400],index=['a','b','c','d'])

In [ ]:
ser2

In [ ]:
ser1

In [ ]:
ser1[0]

In [ ]:
ser1[2]

In [ ]:
ser2

In [ ]:
ser2['d']

In [ ]:
ser2[3]

In [ ]:
ser1[0:3]

In [ ]:
ser2['a':'c']

In [ ]:
ser2[0:3]

In [ ]:
ser2[['a','c']]

In [ ]:
ser2

In [ ]:
ser2['b'] = 1000

In [ ]:
ser2

In [ ]:
ser2['c':'d'] = 900

In [ ]:
ser2

In [ ]:
ser2[['c','d']] = 800

In [ ]:
ser2

In [ ]:
ser2

In [ ]:
ser2 > 200

In [ ]:
ser2[ser2>200]

In [ ]:
ser3 = pd.Series([10,20,30,40,50])

ser4 = pd.Series([100,200,300,400,500])

In [ ]:
ser5 = pd.Series(['a','b','c','d'],index=['A','B','C','D'])

In [ ]:
ser5

In [ ]:
ser6 = pd.Series([10,20,30,40])

In [ ]:
ser6

In [ ]:
ser5+ser6

In [ ]:
ser3

In [ ]:
mydict = {
    "Name":"Punit",
    "Age":29,
    "desg":"Python Dev",
    "loc":"Mumbai"
}

In [ ]:
mydict

In [ ]:
ser5 = pd.Series(mydict)

In [ ]:
ser5

In [ ]:
get_budgets = [
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]

In [ ]:
print(get_budgets)

In [ ]:
total = 0
for items in get_budgets:
    total = total + items['budget']
print(total)

In [ ]:
def get_budget(lst):
    total = 0
    for items in get_budgets:
        total = total + items['budget']
    print(total)

In [ ]:
get_budget([{'name': 'John', 'age': 21, 'budget': 23000}, {'name': 'Steve', 'age': 32, 'budget': 40000}, {'name': 'Martin', 'age': 16, 'budget': 2700}])

In [ ]:
city = {
    "Mumbai":50000,
    "Pune":30000,
    "Chennai":20000,
    "Delhi":10000
}

In [ ]:
city

In [ ]:
ser7 = pd.Series(city,index=['Mumbai','Pune','Chennai','Jaipur','Ahmedabad','Delhi'])

In [ ]:
ser7

In [ ]:
ser7.isnull() #identifying the null value

In [ ]:
ser7.isna()

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of 

Series objects. It is generally the most commonly used pandas object. Like

Series, DataFrame accepts many different kinds of input:
• Dict of 1D ndarrays, lists, dicts, or Series

• 2-D numpy.ndarray

• Structured or record ndarray

• A Series

• Another DataFrame


Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass
an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of
Series plus a specific index will discard all data not matching up to the passed index

In [ ]:
print(mydict)

In [ ]:
mydict = {
    "city":['Mumbai','Pune','Chennai','Delhi','Goa'],
    "year":[2017,2018,2019,2020,2021],
    "population":[1000000,800000,900000,600000,700000]
}

In [ ]:
df = pd.DataFrame(mydict)

In [ ]:
df

In [ ]:
df2 = pd.DataFrame(mydict,index=['a','b','c','d','e'])

In [ ]:
df.head()

In [ ]:
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
df.index

In [ ]:
df2.index

In [ ]:
df.columns

In [ ]:
df.columns = ['CITY','YEAR','POPULATION']

In [ ]:
df

In [ ]:
df['CITY']

In [ ]:
df['POPULATION']

In [ ]:
df['YEAR']

In [ ]:
df[['CITY','YEAR']]

In [ ]:
df

In [ ]:
df['debt'] = 3000

In [ ]:
df

In [ ]:
df2['rank'] = np.arange(1,6)

In [ ]:
df2

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df2

In [ ]:
df2.loc['a']

In [ ]:
df.iloc[[0,1]]

In [ ]:
df2.loc[['a','c']]

In [ ]:
df

In [ ]:
df['POPULATION'] > 700000

In [ ]:
df[df['POPULATION'] > 700000]

In [ ]:
df[df['CITY']=='Mumbai']

In [ ]:
df

In [ ]:
del df['debt']

In [ ]:
df

In [ ]:
df

In [ ]:
df2 = df.drop('debt',axis=1)

In [ ]:
df

In [ ]:
df.drop(0,axis=0) #by default row wise

In [ ]:
df.drop(['debt','YEAR'],axis=1,inplace=True)

In [ ]:
df

In [ ]:
df = pd.DataFrame(np.arange(9).reshape(3,3),columns=['b','c','d'],index=['Mumbai','Pune','Chennai'])

In [ ]:
df

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape(4,3),columns=['b','d','e'],index=['Mumbai','Delhi','Chennai','Jaipur'])

In [ ]:
df2

In [ ]:
df+df2

In [ ]:
df*df2

In [ ]:
df-df2

In [ ]:
df/df2

In [ ]:
df3 = df%df2

In [ ]:
df.add(df2)

In [ ]:
df.add(df2,fill_value=0)

In [ ]:
df3

In [ ]:
df3.fillna("zero")

In [ ]:
df3.fillna(0.0)

In [ ]:
df3

In [ ]:
df3.dropna()

In [ ]:
df3.dropna(how='any')

In [ ]:
df4 = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})

In [ ]:
df4

In [ ]:
df4.dropna(how='any')

In [ ]:
df4.dropna()

In [ ]:
df4.dropna(how='all',axis=1)

# custom functions in pandas

In [ ]:
df1 = pd.DataFrame(np.random.randn(4,3),columns=['b','d','e'],index=['Mumbai','Pune','Chennai','Delhi'])

In [ ]:
df1

In [ ]:
1.18 - 0.30

In [ ]:
diff = lambda x : x.max() - x.min()

In [ ]:
df1['Difference'] = df1.apply(diff,axis=1)

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame({"Name" : ['punit k','abhishek s','ganesh s','hafiz s'],
                    "Physics":[76,84,68,94],
                    "Maths":[81,67,91,86],
                    "English":[72,93,84,76], })

In [ ]:
df2

In [ ]:
df3 = df2.drop('Name',axis=1)

In [ ]:
df3

In [ ]:
def get_avg(marks):
    return sum(marks) / len(marks)

In [ ]:
df2['average'] = df3.apply(get_avg,axis=1)

In [ ]:
df2['average'] = df3.apply(get_avg,axis=1)

In [ ]:
df2

In [ ]:
def to_upper(data):
    return data.upper()

In [ ]:
df2['Name'] = df2['Name'].apply(to_upper)

In [ ]:
df2

In [ ]:
up_lam = map(lambda data: data.upper(),df2['Name'])

In [ ]:
list(up_lam)

In [ ]:
import numpy as np
import pandas as pd

## sorting

In [ ]:
obj = pd.Series(range(4),index=['d','a','b','c'])

In [ ]:
obj

In [ ]:
obj.sort_index()

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape(2,4),index=['three','one']
                    ,columns=['d','a','b','c'])

In [ ]:
frame

In [ ]:
frame.sort_index(ascending=False)

In [ ]:
frame.sort_index(axis=1,ascending=False)

In [ ]:
df = pd.DataFrame([[1.4,np.nan],[7.1,4.5],[np.nan,np.nan],[0.75,-1.3]],
                  index=['a','b','c','d'],columns=['A','B'])

In [ ]:
df

In [ ]:
df.sum() #sum column wise

In [ ]:
df.sum(axis=1) #sum row wise

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df

In [ ]:
df.mean(axis=1,skipna=True)

In [ ]:
df.describe()

In [ ]:
df.std()

In [ ]:
obj = pd.Series(['c','a','d','a','a','b','b','c','c'])

In [ ]:
obj

In [ ]:
obj.unique()

In [ ]:
obj.value_counts()

In [ ]:
obj

In [ ]:
obj.isin(['c','a'])

In [ ]:
df = pd.read_csv('demo.csv')

In [ ]:
df

In [ ]:
pd.read_csv('demo.csv',header=None)

In [ ]:
pd.read_csv('demo.csv',names=['one','two','three','four','message'])

In [ ]:
pd.read_csv('demo.csv',names=['one','two','three','four','message'],skiprows=[2,4])

In [ ]:
pd.read_csv('demo.csv',nrows=3)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
pd.read_csv('demo.csv',nrows=5)

In [ ]:
obj = """
{
    "name":"Steve",
    "places_lived":["India","USA","Japan"],
    "pet":"None",
    "sibling":[
        {"name":"Henry","age":29,"pet":["bruno","alpha"]},
        {"name":"Katie","age":32,"pet":["Simba","Bru","Cisco"]}
    ]
}
"""

In [ ]:
print(obj)

In [ ]:
type(obj)

In [ ]:
import json

In [ ]:
result = json.loads(obj)

In [ ]:
print(result)

In [ ]:
type(result)

In [ ]:
result['sibling']

In [ ]:
result['places_lived']

In [ ]:
result['sibling'][1]['name']

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.DataFrame(result['sibling'])

In [ ]:
pd.DataFrame(result['sibling'],columns=['name','age'])

In [ ]:
pd.read_json('https://www.w3schools.com/python/pandas/data.js')

In [ ]:
data = pd.DataFrame({
    'k1':['one','two']*3 + ['two'],
    'k2':[1,3,4,3,1,4,4]
    
})

In [ ]:
data

In [ ]:
data['k1'].notnull()

In [ ]:
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data = pd.DataFrame(
    {
        "food":['apple','egg','wheat','bread','rice','dal','grapes',
               'pineapple','honey'],
        
        "calories":[4,3,12,6,7.5,8,3,5,6]
        
        
    }

)

In [ ]:
data

In [ ]:
food_categories = {
    "apple":'fruit',
    "egg":'non veg food',
    "wheat":"grain",
    "bread":"veg food",
    "rice":"grain",
    "grapes":"fruit",
    "pineapple":"fruit",
    "honey":"veg food",
    "dal":"grain"
}

In [ ]:
food_categories

In [ ]:
data['categories'] = data['food'].map(food_categories)

In [ ]:
data

In [ ]:
ages = [20,22,25,25,24,27,19,21,27,31,28,61,45,41,32]

In [ ]:
bins = [15,25,35,45,55,65]

In [ ]:
cat = pd.cut(ages,bins)

In [ ]:
cat

In [ ]:
pd.value_counts(cat)

In [1]:
import numpy as np
import pandas as pd

In [2]:
fruits = ['apple','mango','apple','apple']*2

In [3]:
fruits

['apple', 'mango', 'apple', 'apple', 'apple', 'mango', 'apple', 'apple']

In [6]:
fruit_data = pd.DataFrame({
    'fruit':fruits,
    'basket_id':[0, 1, 2, 3, 4, 5, 6, 7],
    'count':np.random.randint(3,15,size=len(fruits)),
    'weight':np.random.uniform(0,4,size=len(fruits))
},columns=['basket_id','fruit','count','weight'])

In [7]:
fruit_data

   basket_id  fruit  count    weight
0          0  apple      5  1.959405
1          1  mango      5  2.142215
2          2  apple      6  0.605951
3          3  apple      3  3.366236
4          4  apple     11  2.503180
5          5  mango     11  2.535777
6          6  apple      8  2.928294
7          7  apple      6  3.028726

In [ ]:
len(fruits)

In [ ]:
np.arange(8)

In [10]:
fruit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   basket_id  8 non-null      int64
 1   fruit      8 non-null      object
 2   count      8 non-null      int64
 3   weight     8 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [11]:
fruit_data

   basket_id  fruit  count    weight
0          0  apple      5  1.959405
1          1  mango      5  2.142215
2          2  apple      6  0.605951
3          3  apple      3  3.366236
4          4  apple     11  2.503180
5          5  mango     11  2.535777
6          6  apple      8  2.928294
7          7  apple      6  3.028726

In [12]:
fruit_cat = fruit_data['fruit'].astype('category')

In [13]:
fruit_cat

0    apple
1    mango
2    apple
3    apple
4    apple
5    mango
6    apple
7    apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'mango']

In [14]:
fruit_cat.value_counts()

apple    6
mango    2
Name: fruit, dtype: int64

In [15]:
fruit_data['fruit'] = fruit_data['fruit'].astype('category')

In [16]:
fruit_data

   basket_id  fruit  count    weight
0          0  apple      5  1.959405
1          1  mango      5  2.142215
2          2  apple      6  0.605951
3          3  apple      3  3.366236
4          4  apple     11  2.503180
5          5  mango     11  2.535777
6          6  apple      8  2.928294
7          7  apple      6  3.028726

In [18]:
fruit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   basket_id  8 non-null      int64
 1   fruit      8 non-null      category
 2   count      8 non-null      int64
 3   weight     8 non-null      float64
dtypes: category(1), float64(1), int64(2)
memory usage: 452.0 bytes

In [21]:
fruit_data['fruit']

0    apple
1    mango
2    apple
3    apple
4    apple
5    mango
6    apple
7    apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'mango']

In [22]:
pd.get_dummies(fruit_data['fruit'])

   apple  mango
0      1      0
1      0      1
2      1      0
3      1      0
4      1      0
5      0      1
6      1      0
7      1      0

# group by

In [23]:
df = pd.DataFrame({
    'key':['a','b','c'] *4,
    'value':np.arange(0,12)
})

In [24]:
df

   key  value
0    a      0
1    b      1
2    c      2
3    a      3
4    b      4
5    c      5
6    a      6
7    b      7
8    c      8
9    a      9
10   b     10
11   c     11

In [26]:
res = df.groupby('key').value

In [27]:
res.count()

key
a    4
b    4
c    4
Name: value, dtype: int64

In [30]:
df['key'].value_counts()

b    4
a    4
c    4
Name: key, dtype: int64

In [31]:
res.max()

key
a     9
b    10
c    11
Name: value, dtype: int64

In [32]:
res.min()

key
a    0
b    1
c    2
Name: value, dtype: int64

In [33]:
res.sum()

key
a    18
b    22
c    26
Name: value, dtype: int64

In [34]:
res.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [35]:
res.median()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [36]:
res.std()

key
a    3.872983
b    3.872983
c    3.872983
Name: value, dtype: float64

In [37]:
data = {
    "Punit":"punit@yahoo.com",
    "Dharmesh":"dharmesh@gmail.com",
    "Steve":"steve@apple.com",
    "demo":"demo@gmail.com"
}

In [38]:
data

{'Punit': 'punit@yahoo.com',
 'Dharmesh': 'dharmesh@gmail.com',
 'Steve': 'steve@apple.com',
 'demo': 'demo@gmail.com'}

In [39]:
email_ser = pd.Series(data)

In [40]:
email_ser

Punit          punit@yahoo.com
Dharmesh    dharmesh@gmail.com
Steve          steve@apple.com
demo            demo@gmail.com
dtype: object

In [41]:
email_ser.str.contains('gmail')

Punit       False
Dharmesh     True
Steve       False
demo         True
dtype: bool

In [42]:
email_ser.str.upper()

Punit          PUNIT@YAHOO.COM
Dharmesh    DHARMESH@GMAIL.COM
Steve          STEVE@APPLE.COM
demo            DEMO@GMAIL.COM
dtype: object

In [43]:
email_ser.str.endswith('com')

Punit       True
Dharmesh    True
Steve       True
demo        True
dtype: bool

In [44]:
email_ser.str.split('@')

Punit          [punit, yahoo.com]
Dharmesh    [dharmesh, gmail.com]
Steve          [steve, apple.com]
demo            [demo, gmail.com]
dtype: object

In [ ]:
email_ser.str.