In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
print(now)

2022-03-29 14:32:16.376119

In [5]:
type(now)

datetime.datetime

In [6]:
now.year

2022

In [7]:
now.month

3

In [9]:
now.day

29

In [10]:
now.hour

14

In [11]:
now.minute

32

In [12]:
now.second

16

In [13]:
now.microsecond

376119

In [15]:
now.weekday()

1

In [16]:
delta = datetime(2022,3,29) - datetime(2022,3,20)

In [17]:
delta

datetime.timedelta(days=9)

In [21]:
delta = datetime(2022,3,29,8,15,30) - datetime(2020,3,20)

In [22]:
delta

datetime.timedelta(days=739, seconds=29730)

## conversion between string & datetime

In [23]:
stamp = datetime(2022,3,29)

In [24]:
stamp

datetime.datetime(2022, 3, 29, 0, 0)

In [25]:
type(stamp)

datetime.datetime

In [27]:
val = str(stamp)

In [29]:
val

'2022-03-29 00:00:00'

In [28]:
type(val)

str

In [31]:
stamp.strftime('%Y-%m-%d')

'2022-03-29'

In [32]:
stamp.strftime('%Y/%m/%d')

'2022/03/29'

## converting string to datetime

In [33]:
val

'2022-03-29 00:00:00'

In [35]:
datetime.strptime(val,'%Y-%m-%d %H:%M:%S')

datetime.datetime(2022, 3, 29, 0, 0)

In [ ]:
datetime

In [36]:
mydates = ['08/01/1993','11/11/2000','29/12/1999','20/10/2003']

In [37]:
mydates

['08/01/1993', '11/11/2000', '29/12/1999', '20/10/2003']

In [44]:
result = [datetime.strptime(item,'%d/%m/%Y')  for item in mydates]

In [42]:
for res in result:
    print(res)

1993-01-08 00:00:00
2000-11-11 00:00:00
1999-12-29 00:00:00
2003-10-20 00:00:00

## time series in pandas

In [45]:
import numpy as np
import pandas as pd

In [46]:
dates = [
    datetime(2022,1,2),
    datetime(2022,1,5),
    datetime(2022,1,7),
    datetime(2022,1,8),
    datetime(2022,1,10),
    datetime(2022,1,12)
    
]

In [47]:
dates

[datetime.datetime(2022, 1, 2, 0, 0),
 datetime.datetime(2022, 1, 5, 0, 0),
 datetime.datetime(2022, 1, 7, 0, 0),
 datetime.datetime(2022, 1, 8, 0, 0),
 datetime.datetime(2022, 1, 10, 0, 0),
 datetime.datetime(2022, 1, 12, 0, 0)]

In [48]:
mydata = pd.Series(np.random.randn(6),index=dates)

In [49]:
mydata

2022-01-02    0.675661
2022-01-05    0.351572
2022-01-07   -0.969880
2022-01-08   -0.016072
2022-01-10    1.492599
2022-01-12   -0.804258
dtype: float64

In [50]:
mydata['2022-01-02']

0.6756607628299116

In [51]:
mydata[0]

0.6756607628299116

In [54]:
new_data = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2022',periods=1000))

In [55]:
new_data

2022-01-01   -0.846203
2022-01-02   -0.473187
2022-01-03    0.239096
2022-01-04   -1.037555
2022-01-05    1.109460
                ...
2024-09-22   -0.539259
2024-09-23   -2.247520
2024-09-24    0.365047
2024-09-25   -0.942497
2024-09-26   -0.662417
Freq: D, Length: 1000, dtype: float64

In [56]:
new_data['2022-03']

2022-03-01    0.345873
2022-03-02   -0.127943
2022-03-03    0.578887
2022-03-04    0.514913
2022-03-05    0.920562
2022-03-06   -0.792315
2022-03-07    0.220183
2022-03-08    1.209597
2022-03-09   -0.099704
2022-03-10   -0.688605
2022-03-11    0.039156
2022-03-12   -0.604130
2022-03-13    0.281138
2022-03-14   -1.935682
2022-03-15   -0.576119
2022-03-16   -1.592428
2022-03-17   -0.294542
2022-03-18   -1.410579
2022-03-19   -1.010801
2022-03-20    1.010430
2022-03-21    0.305809
2022-03-22    1.272428
2022-03-23   -0.441890
2022-03-24    1.670691
2022-03-25    0.730742
2022-03-26   -0.708058
2022-03-27    0.751594
2022-03-28    0.173568
2022-03-29    0.920432
2022-03-30    1.406187
2022-03-31   -0.458842
Freq: D, dtype: float64

In [57]:
new_data['2022-04-01':'2022-06-01']

2022-04-01   -0.124782
2022-04-02    1.586241
2022-04-03   -0.017411
2022-04-04   -0.840605
2022-04-05    0.357928
                ...
2022-05-28    1.259495
2022-05-29    0.375460
2022-05-30    0.979385
2022-05-31    1.419994
2022-06-01    0.636351
Freq: D, Length: 62, dtype: float64

## specific weekday

In [58]:
dates = pd.date_range('1/1/2022',periods=365,freq='W-WED')

In [59]:
dates

DatetimeIndex(['2022-01-05', '2022-01-12', '2022-01-19', '2022-01-26',
               '2022-02-02', '2022-02-09', '2022-02-16', '2022-02-23',
               '2022-03-02', '2022-03-09',
               ...
               '2028-10-25', '2028-11-01', '2028-11-08', '2028-11-15',
               '2028-11-22', '2028-11-29', '2028-12-06', '2028-12-13',
               '2028-12-20', '2028-12-27'],
              dtype='datetime64[ns]', length=365, freq='W-WED')

In [60]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1-3-2000'])

In [61]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [62]:
dup_ser = pd.Series(np.arange(5),index=dates)

In [63]:
dup_ser

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [64]:
dup_ser.index.is_unique

False

In [66]:
grouped = dup_ser.groupby(level=0)

In [67]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [68]:
grouped.sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int64

In [69]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [70]:
datetime.strptime('Jan 01 2000','%b %d %Y')

datetime.datetime(2000, 1, 1, 0, 0)

In [72]:
datetime.strptime('29-Mar-2022','%d-%b-%Y')

datetime.datetime(2022, 3, 29, 0, 0)

In [73]:
datetime.strptime('29-March-2022','%d-%B-%Y')

datetime.datetime(2022, 3, 29, 0, 0)

## daterange

In [74]:
pd.date_range('2022-03-01',periods=20)

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05', '2022-03-06', '2022-03-07', '2022-03-08',
               '2022-03-09', '2022-03-10', '2022-03-11', '2022-03-12',
               '2022-03-13', '2022-03-14', '2022-03-15', '2022-03-16',
               '2022-03-17', '2022-03-18', '2022-03-19', '2022-03-20'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range('2022-03-01','2022-03-02',freq='H')

DatetimeIndex(['2022-03-01 00:00:00', '2022-03-01 01:00:00',
               '2022-03-01 02:00:00', '2022-03-01 03:00:00',
               '2022-03-01 04:00:00', '2022-03-01 05:00:00',
               '2022-03-01 06:00:00', '2022-03-01 07:00:00',
               '2022-03-01 08:00:00', '2022-03-01 09:00:00',
               '2022-03-01 10:00:00', '2022-03-01 11:00:00',
               '2022-03-01 12:00:00', '2022-03-01 13:00:00',
               '2022-03-01 14:00:00', '2022-03-01 15:00:00',
               '2022-03-01 16:00:00', '2022-03-01 17:00:00',
               '2022-03-01 18:00:00', '2022-03-01 19:00:00',
               '2022-03-01 20:00:00', '2022-03-01 21:00:00',
               '2022-03-01 22:00:00', '2022-03-01 23:00:00',
               '2022-03-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [77]:
pd.date_range('2022-01-01','2022-12-31',freq='BM')

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-29',
               '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30'],
              dtype='datetime64[ns]', freq='BM')

<img src="https://miro.medium.com/max/1170/0*hwKQ89CuvccbP60Y.png">

In [78]:
pd.date_range('2022-01-01','2022-12-31',freq='MS')

DatetimeIndex(['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [79]:
pd.date_range('2022-03-01','2022-03-02',freq='3H')

DatetimeIndex(['2022-03-01 00:00:00', '2022-03-01 03:00:00',
               '2022-03-01 06:00:00', '2022-03-01 09:00:00',
               '2022-03-01 12:00:00', '2022-03-01 15:00:00',
               '2022-03-01 18:00:00', '2022-03-01 21:00:00',
               '2022-03-02 00:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [80]:
pd.date_range('2022-03-01','2022-03-02',freq='1H15min')

DatetimeIndex(['2022-03-01 00:00:00', '2022-03-01 01:15:00',
               '2022-03-01 02:30:00', '2022-03-01 03:45:00',
               '2022-03-01 05:00:00', '2022-03-01 06:15:00',
               '2022-03-01 07:30:00', '2022-03-01 08:45:00',
               '2022-03-01 10:00:00', '2022-03-01 11:15:00',
               '2022-03-01 12:30:00', '2022-03-01 13:45:00',
               '2022-03-01 15:00:00', '2022-03-01 16:15:00',
               '2022-03-01 17:30:00', '2022-03-01 18:45:00',
               '2022-03-01 20:00:00', '2022-03-01 21:15:00',
               '2022-03-01 22:30:00', '2022-03-01 23:45:00'],
              dtype='datetime64[ns]', freq='75T')

In [1]:
import pandas as pd
import numpy as np

## shifting

In [2]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2021',periods=4,freq='M'))

In [3]:
ts

2021-01-31    0.039406
2021-02-28    0.040089
2021-03-31   -0.766421
2021-04-30   -0.206801
Freq: M, dtype: float64

In [4]:
ts.shift(2)

2021-01-31         NaN
2021-02-28         NaN
2021-03-31    0.039406
2021-04-30    0.040089
Freq: M, dtype: float64

In [5]:
from datetime import datetime

In [7]:
from pandas.tseries.offsets import Day,MonthEnd

In [8]:
now = datetime(2021,8,10)

In [9]:
now

datetime.datetime(2021, 8, 10, 0, 0)

In [12]:
now + Day()

Timestamp('2021-08-11 00:00:00')

In [13]:
now

datetime.datetime(2021, 8, 10, 0, 0)

In [14]:
now+3*Day()

Timestamp('2021-08-13 00:00:00')

In [18]:
now

datetime.datetime(2021, 8, 10, 0, 0)

In [16]:
now+MonthEnd(3)

Timestamp('2021-10-31 00:00:00')

In [17]:
from pandas.tseries.offsets import  SemiMonthBegin,SemiMonthEnd

In [19]:
now+SemiMonthBegin()

Timestamp('2021-08-15 00:00:00')

In [20]:
now+SemiMonthEnd()

Timestamp('2021-08-15 00:00:00')

In [21]:
frame = pd.DataFrame(np.random.randn(24,4),index=pd.period_range('1-2020','12-2021',freq='M'),
                    columns=['Mumbai','Pune','Chennai','Hyderabad'])

In [22]:
frame

           Mumbai      Pune   Chennai  Hyderabad
2020-01  1.261546 -0.194674  0.217084  -1.372980
2020-02 -1.357245  0.300012 -0.832968   1.603516
2020-03  0.096765  0.338486 -0.353949  -0.153870
2020-04 -0.226719  2.497979 -2.093346  -1.551380
2020-05  0.480463  1.426175  0.431114  -0.349091
2020-06 -1.033195  0.411665 -0.398833   1.211941
2020-07  1.209070  0.785128  1.568433  -0.692865
2020-08  1.439380  1.001376 -0.050014  -0.066352
2020-09 -0.809768  2.080541 -0.357132   0.270384
2020-10  0.120031 -0.800640  2.246150   2.745256
2020-11 -0.740672  0.364979 -0.130451  -0.309131
2020-12  1.127646 -0.147062 -2.102227   1.964422
2021-01  0.308481 -1.931014  0.636534  -0.318744
2021-02 -0.057882 -1.211779  0.179766   1.342188
2021-03  0.538214  1.590773 -0.364250  -1.719252
2021-04  0.956407 -0.138421  0.172081  -0.084154
2021-05 -1.237576  0.975007 -1.592497   1.958116
2021-06 -0.990484 -1.681633  0.067472  -0.974784
2021-07 -0.775049  1.317996 -0.532362  -1.519507
2021-08  0.497736  0.403120  0.250085   0.125377
2021-09  1.549249 -0.764503  1.114330   1.028993
2021-10 -0.214031  1.516106  1.799127  -0.010231
2021-11  0.810266  0.182345  1.972133  -1.407254
2021-12  0.772657  1.019199  0.371485  -0.306413

In [23]:
sales = frame.resample('A-DEC')

In [25]:
sales.sum()

        Mumbai      Pune   Chennai  Hyderabad
2020  1.567302  8.063964 -1.856139   3.299852
2021  2.157988  1.277196  4.073905  -1.885664

In [26]:
sales.min()

        Mumbai      Pune   Chennai  Hyderabad
2020 -1.357245 -0.800640 -2.102227  -1.551380
2021 -1.237576 -1.931014 -1.592497  -1.719252

In [27]:
sales.mean()

        Mumbai      Pune   Chennai  Hyderabad
2020  0.130608  0.671997 -0.154678   0.274988
2021  0.179832  0.106433  0.339492  -0.157139

In [28]:
sales.count()

      Mumbai  Pune  Chennai  Hyderabad
2020      12    12       12         12
2021      12    12       12         12

In [31]:
quater = frame.resample('Q-DEC')

In [32]:
quater.min()

          Mumbai      Pune   Chennai  Hyderabad
2020Q1 -1.357245 -0.194674 -0.832968  -1.372980
2020Q2 -1.033195  0.411665 -2.093346  -1.551380
2020Q3 -0.809768  0.785128 -0.357132  -0.692865
2020Q4 -0.740672 -0.800640 -2.102227  -0.309131
2021Q1 -0.057882 -1.931014 -0.364250  -1.719252
2021Q2 -1.237576 -1.681633 -1.592497  -0.974784
2021Q3 -0.775049 -0.764503 -0.532362  -1.519507
2021Q4 -0.214031  0.182345  0.371485  -1.407254

In [33]:
quater.sum()

          Mumbai      Pune   Chennai  Hyderabad
2020Q1  0.001066  0.443824 -0.969833   0.076666
2020Q2 -0.779451  4.335819 -2.061065  -0.688529
2020Q3  1.838681  3.867044  1.161286  -0.488832
2020Q4  0.507005 -0.582723  0.013473   4.400547
2021Q1  0.788813 -1.552020  0.452050  -0.695808
2021Q2 -1.271653 -0.845047 -1.352943   0.899178
2021Q3  1.271936  0.956613  0.832053  -0.365137
2021Q4  1.368893  2.717650  4.142746  -1.723898

### finding null values

In [34]:
df = pd.DataFrame({
    'A':[10,20,None,30],
    'B':[None,2,4,6],
    'C':[4,12,16,5],
    'D':[5,4,7,None]
})

In [35]:
df

      A    B   C    D
0  10.0  NaN   4  5.0
1  20.0  2.0  12  4.0
2   NaN  4.0  16  7.0
3  30.0  6.0   5  NaN

In [36]:
df.ffill()

      A    B   C    D
0  10.0  NaN   4  5.0
1  20.0  2.0  12  4.0
2  20.0  4.0  16  7.0
3  30.0  6.0   5  7.0

In [37]:
df.ffill(axis=1)

      A     B     C    D
0  10.0  10.0   4.0  5.0
1  20.0   2.0  12.0  4.0
2   NaN   4.0  16.0  7.0
3  30.0   6.0   5.0  5.0

In [39]:
df

      A    B   C    D
0  10.0  NaN   4  5.0
1  20.0  2.0  12  4.0
2   NaN  4.0  16  7.0
3  30.0  6.0   5  NaN

In [38]:
df.bfill()

      A    B   C    D
0  10.0  2.0   4  5.0
1  20.0  2.0  12  4.0
2  30.0  4.0  16  7.0
3  30.0  6.0   5  NaN

In [40]:
df.bfill(axis=1)

      A    B     C    D
0  10.0  4.0   4.0  5.0
1  20.0  2.0  12.0  4.0
2   4.0  4.0  16.0  7.0
3  30.0  6.0   5.0  NaN